@model TercerParcialWeb.Models.avion

@{
    ViewBag.Title = "Detalles de Aviones";
}

<h2>Details</h2>

<div>
    <h4>avion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombreAvion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreAvion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.marca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.marca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.capacidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.capacidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdAvion }) |
    @Html.ActionLink("Back to List", "Index")
</p>
